/* DoctorProfile.css */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;

  /* Remove the background color */
  background-color: transparent;

  /* Add the background image */
  background-image: url('../../Photos/checkup1.jpg'); /* Replace with your image path */
  background-size: cover; /* Ensure the image covers the entire screen */
  background-position: center center; /* Center the background image */
  background-attachment: fixed; /* Keep the background fixed when scrolling */
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: white;
  overflow-y: auto;
}

.welcome-header0 {
  font-size: 28px;
  color: #34495e;
}

.welcome-text {
  font-size: 16px;
  color: #7f8c8d;
}

.button {
  background-color: #4eb13b;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.d-button {
  background-color: #b61313;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2980b9;
}

.appointment-card {
  background-color: #cbcecb;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.appointment-card h3 {
  margin: 0;
  color: #34495e;
  margin-bottom: 8px;
}

.appointment-card p {
  margin: 5px 0;
  color: #383838;
  margin-bottom: 8px;
}

.input-field {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}

.input-field:focus {
  border-color: #3498db;
  outline: none;
}

.add-user-section {
  margin-top: 20px;
  padding: 15px;
  background-color: #ecf0f1;
  border-radius: 5px;
}